@model ComicBookChallenge.Models.ComicBook
@{
    var title = string.Format("Details About {0} #{1}", Model.ComicTitle, Model.EpisodeNumber);
    ViewBag.Title = title;
}

<h2>@title</h2>
<h4>Episode Title: @Model.EpisodeTitle</h4>

@{
    var characters = Model.Characters.Select(x => x.Name).ToArray();
    var charactersString = String.Join(", ", characters);
    <p><strong>Starring:</strong> @charactersString</p>
}

<hr />
@Html.ActionLink("Back to All Comics", "Index")